name: "releases"
 
on:
  push:
     branches:
       - main
 
jobs:
  run-updater:
    runs-on: ubuntu-latest
    steps:
    - name: create release
      run: |
          curl -L \
          -X POST \
          -H "Accept: application/vnd.github+json" \
          -H "Authorization: Bearer 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"\
          -H "X-GitHub-Api-Version: 2022-11-28" \
          http://api.github.com/repos/shreey/nextcloud_with_kubernetes/releases \
          -d '{"tag_name":"v1.0.0","target_commitish":"main","name":"v1.0.0","body":"Description of the release","draft":false,"prerelease":false,"generate_release_notes":false}'
